h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: red;
}
#google-lens{
    width: 500px;
    height: 300px;
}
#vs{
    color: red;
    font-weight: bold;
    font-size: 50px;
}
#mobilenet{
    font-size: 70px;
}
div{
    border-radius: 10px;
    background-color: gray; 
    margin-top: 20px;
    box-shadow: 5px 5px 5px;
}
#googlevsmobile{
    background-color: white;
}
img{
    border-radius:20px ;
}
.copy_right_footer{
   
    color: black;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    line-height: 1;
    border-style: dotted;
    border-color: black;
    font-size: 14px;
    font-weight: bold;
  }
  b{
    color: blueviolet;
  }
  span{
    color: red;
    font-weight: bold;
  }
  #conclusion{
    margin-top: 200px;
    font-size: 15px;
    color: white;
  }